.app {
  /* 用 fixed 避免網頁本身捲動，干擾 360 viewer 內的拖拉 */
  position: fixed;
  width: 100vw;
  height: 100vh;

  /* 這是要防止 iOS Safari 的 bottom toolbar 遮住網頁內容 */
  max-height: -webkit-fill-available;
}

.root {
  padding-left: 16px;
  padding-right: 16px;

  height: 100%;

  display: flex;
  flex-direction: column;
}

.fillSpace {
  flex: 1;
}

.guaYaoWrap {
  padding: 4px;
  max-width: 300px;
}

.guaYaoWrap .gua {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.yaoContainer {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.yaoContainer .yaoChanged {
  margin-left: 32px;
}

.yaoSpace {
  flex: 0.3;
  min-height: 8px;
}

.yaoContainer .yin {
  flex: 1;
  display: flex;
  flex-direction: row;
  min-height: 24px;
}

.yaoContainer .yin .space {
  height: 100%;
  flex: 0.5;
}

.yaoContainer .yin .inner {
  background: black;
  height: 100%;
  flex: 1;
  border-radius: 4px;
}

.yaoContainer .yin .inner:hover {
  background: grey;
}

.yaoContainer .yin .innerChanged {
  background: red;
  height: 100%;
  flex: 1;
  border-radius: 4px;
}

.yaoContainer .yin .innerChanged:hover {
  background: rgb(255, 105, 105);
}

.yaoContainer .yang {
  background: black;
  flex: 1;
  min-height: 24px;
}

.yaoContainer .yang:hover {
  background: gray;
}

.yaoContainer .yangChanged {
  background: red;
  flex: 1;
  min-height: 24px;
}

.yaoContainer .yangChanged:hover {
  background: rgb(255, 105, 105);
}

.yaoContainer .yangChanged:hover {
  background: rgb(255, 105, 105);
}
